// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
}

header {
  height: 150px;
  border-bottom:1px solid #fff;
  background-color:rgb(182, 182, 26);
}

.header-contents {
  width: 90%;
  margin: 0 auto;
  height: 100px;
  display:inline-block ;
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 80%;
  display: flex; 
  
}


.header-title {
  
 
  
}





.header-container {
  
}

.header-container-contents {
  
}





footer {
  height: 100px;
  width: 100%;
  background-color:rgb(182, 182, 26);
  position: absolute;
  bottom: 0;
}

.postscript {
  position: relative;
  color:gray;
  font-size: 15px;
  text-align: center;
  align-items: center;
  padding: 40px;
}

