// Place all the styles related to the places controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* リセットCSS */
body {
  margin: 0;
}



header {
  height: 150px;
  border-bottom:1px solid #fff;
  background-color:rgb(182, 182, 26);
}

.main {
  position:relative;
  height: calc(100vh-250px);
  box-sizing: border-box;
}

footer {
  height: 100px;
  width: 100%;
  background-color:rgb(182, 182, 26);
  margin-top: auto;
  position: absolute;
  bottom: 0;
}

.postscript {
  position: relative;
  color:gray;
  font-size: 15px;
  text-align: center;
  align-items: center;
  padding: 40px;
}