// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// 左側のViewについて(session画面にも使用）
.page-login {
  display: flex;
  justify-content: space-between;
}

.account-page__login {
  font-size:60px;
  padding:50px;
  color: goldenrod;
}

 

// 右側のViewについて
 .right-main {
   margin-right:200px;
 }

 .field {
  font-size: 20px;
  padding: 30px;
}

 .page-login
 .field 
 {
   padding: 20px 0;
 }

.pulldown {
 display: flex;
}

 .newbtn {
  background-color: black;
  background:gold;
  border:1px solid yellow;
  padding: 20px 70px;
  
 }