// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.account-page__user-form {
  width: 100%;
  letter-spacing: 1px;
}

.field {
  font-size: 30px;
  padding: 30px;
}

.actions {
  font-size: 30px;
}

.field-input input  {
  font-size: 30px;
}






