<%= render "shared/header" %> 
  <div class="top-contents">
    Main
  </div>
  <div class="bottom-contents">
    <% if user_signed_in? %>  
   <%= link_to "チャットを始めよう",  messages_new_path, method: :get %>
   <% end %>
  </div>
<%= render "shared/footer" %> 
