<%= render "shared/header" %> 
  <div class="top-contents">
    Main
  </div>
  <div class="bottom-contents">
   <%= link_to "チャットを始めよう", new_message_path, method: :get %>
  </div>
<%= render "shared/footer" %> 
